@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    font-weight: 600;
}

.container{
    width:100%;
    position: fixed;
    padding: 4.3rem 0;
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    width: 100%;
    max-width: 30rem;
    background-color: #00CED1;
    padding: .5rem;
    text-align: center;
    border-radius: 1.25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.game-in{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 1rem;
    position: relative;
}

.btn{
    background: linear-gradient(120deg, rgb(182, 244, 146), rgb(51, 139, 147));
    width: 8rem;
    background-color: #fff;
    border: 1px solid black;
    height: 8rem;
    padding: 1rem 0;
    border-radius: 1.25rem;
    font-size: 4rem;
    text-align: center;
    color: white;
    cursor: pointer;
}

h1{
    text-decoration: underline;
}
.turn{
    font-size: 1.5rem;
}

.pop{
    position: absolute;
    width:25rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: .1rem solid black;
    padding: 4rem;
    font-size: 2rem;
    top:35%;
    left:50%;
    transform:translateX(-50%);
    z-index: 1;
    background: linear-gradient(120deg,rgb(224, 218, 218),rgb(239, 217, 217),rgb(235, 209, 209));
    display: none;
    border-radius: 1.25rem;
}

@media screen and (max-width: 450px) {
    .game {
        max-width: 20rem;
    }
    .btn {
        width: 5rem;
        height: 5rem;
        padding: .4rem 0;
        font-size: 3rem;
    }
    .container {
        padding: 10rem 0;
    }
    .pop {
        top: 40%;
        width: 18rem;
        font-size: 1rem;
    }
}
